/* .backcolor {
  background-color: #172540;
} */
.paragraph {
  text-align: justify;
  justify-content: center;

  display: flex;
}
ul {
  text-align: left;
}
ul li {
  text-decoration: none;
}
h2 {
  background-color: #172540;
  color: aliceblue;
}
h3 {
  background-color: #172540;
  color: aliceblue;
}
h4 {
  background-color: #172540;
  color: aliceblue;
}
