footer {
  /* width: 100%; */
  /* max-width: 2000px; */

  background-color: #172540;
  border-bottom: 5px solid orange;
  /* height: 240px; */
}

.col-lg-4 {
  height: 240px;
}
p {
  text-align: justify;
  margin-left: 10px;
}
.icons {
  letter-spacing: 20px;
  color: orange;
}
.IMG {
  width: 90%;
  margin: 5px 5px 5px 5px;
  height: 70%;
}
.copyright {
  height: 50px;
  width: 100%;
  background-color: #172540;
  line-height: 50px;
}
