.main {
  background-color: #172540;
  /* background-image: linear-gradient(#172540, aliceblue); */
  /* background-image: linear-gradient(
    to bottom left,
    #172540,
    lightblue
  ); */

  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  /* justify-items: center; */
  align-items: center;
  height: 140px;
  /* border-radius: 222px; */
}
button {
  background-color: cadetblue;
}
.logo img {
  height: 110px;
  width: 110px;
  margin-left: 20px;
  /* margin-top: 5px; */
  align-items: center;
}
.main .logo {
  margin-left: 20px;
  color: aliceblue;
  font-weight: bold;
  font-size: 20px;
  /* padding-right: 50px; */
}
.main .logo a {
  margin-left: 20px;
  text-decoration: none;
  color: aliceblue;
}
.hbtn {
  text-decoration: none;
  color: aliceblue;
}
.hbtn:hover {
  color: brown;
}
.newbtn {
  margin-right: 50px;
  /* text-decoration: none; */
}

.newbtn button {
  /* margin-right: 20px; */
  margin-left: 15px;
  padding: 4px 20px;

  border-radius: 12px;
  border: none;
  font-weight: bold;
  border: 2px solid white;
}
.menu {
  display: flex;
  flex-direction: column;
  padding: 4px 20px;
  border: none;
  font-weight: bold;
  background-color: #172540;
  /* background-image: linear-gradient(
    to bottom left,
    #172540,
    lightblue
  ); */
  color: aliceblue;
  border-top: 4px solid orange;
  height: 60px;
  line-height: 40px;
}
.menu a {
  color: aliceblue;
  text-decoration: none;
  padding: 4px 20px;
  align-items: center;
  text-align: center;
  /* vertical-align: middle; 
    */

  font-size: larger;
}
.menu a:hover {
  color: orange;
  border-bottom: 4px solid orange;
}
.dropdown {
  background-color: #172540;
  color: aliceblue;
  border: none;
  font-weight: bold;
}
