.justify {
  display: flex;
  justify-content: center;
  height: 50%;
}

.programs {
  background-color: #172540;
  color: white;
}
.textp {
  color: aliceblue;
}
.card_title {
  color: aliceblue;
  font-weight: bolder;
}
.button_programs {
  /* background-color: orange; */
  border-radius: 12px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid white;
  color: aliceblue;
  background-color: cadetblue;
}
.button_programs:hover {
  color: #ffdd40;
}
.programs1 {
  border-radius: 100px;
}

.program_border {
  border-radius: 4px;
  color: aliceblue;
  height: 55px;
  background-color: #172540;
}
/* departments */
.bsdept a {
  text-decoration: none;
  /* width: 200px; */
}
.bsdept {
  /* background-color: cadetblue; */

  justify-content: center;
  align-items: center;
  display: flex;
  /* width: 120px; */
  /* height: 70px; */
}
.bsdept a {
  background-color: #172540;
  height: 70px;
  width: 150px;
  line-height: 4;
  border-radius: 10px;
  color: aliceblue;
}
.custom_head {
  background-color: #172540;

  color: aliceblue;
}
.bsdept a:hover {
  color: #ffdd40;
}

.dept_container {
  height: 100%;
  width: 100%;
}
.slider_container {
  height: 380px;
}
.slick-track {
  height: 255px;
}

.h2_border {
  background-color: #172540;
}
.slick-next:before {
  content: '→';
  color: blue;
  /* margin-right: 140px; */
  margin-left: -70px;
}

.slick-prev:before {
  content: '\2190';
  color: blue;
  /* margin-right: 140px; */
  margin-left: 25px;
}
.card-img-top {
  height: 250px;
}
.card-text {
  color: white;
}
/* media query for mobile */
@media screen and (max-width: 576px) {
  .smallpoint {
    background-color: #172540;
    /* height: 70px; */
    width: 50px;
    /* line-height: 4;
    border-radius: 10px;
    color: aliceblue; */
  }
}
