.navbar {
  background-color: #172534;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item .active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
}
.nav-logo img{
  width: 80px;
  height: 80px;
  /* margin-right: 30px; */
  margin-bottom:10px;
}
.nav-logo a{
  font-size: small;
  margin-right: 50px;
  margin-left: 4px;
  text-decoration: none;
  font-weight: bold;
  /* margin-bottom: 50px; */
  color: white;
}
.nav-logo a:hover{
color:#ffdd40;
border-bottom: 2px solid yellow;
}


button a {
  text-decoration: none;
  color:white;
  /* border: none; */
  /* margin-right: 10px; */
  /* border-radius: 30px; */

  /* background-color: none; */
}


.button_programs{
  /* margin-left: 15px;  */
  margin: 0px 2px;
  padding: 4px 8px; 
   /* background-color: orange;  */
   border-radius: 12px; 
   border: none;
  text-decoration: none;
  font-weight: bold;
   border: 2px solid white;
  color: aliceblue;
  background-color: cadetblue;
}
.button_programs a:hover{
  color:#ffdd40;
}





@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
    margin-right: 60px;
}

  .nav-menu.active {
    background: #172534;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
  .fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    
    margin-left: -6px;
}

}
/* for mobile devices */
/* @media only screen and (min-width: 200px) and (max-width:375)
{
  .nav-logo img{
    width: 25px;
    height: 25px;
  }
} */
@media screen and (max-width: 722px){
  .nav-logo img{
    width: 75px;
    height: 70px;
    margin-top: 2px;
    margin-right: 30px;
  }
  .nav-logo a{
  display:none;
  }

}